[submodule "Advanced Android in Kotlin - Welcome to the course/android-kotlin-drawing-custom-views"]
	path = Advanced Android in Kotlin - Welcome to the course/android-kotlin-drawing-custom-views
	url = https://github.com/googlecodelabs/android-kotlin-drawing-custom-views.git
